{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-container index_img mt-3">
    <div class="container jumbotron" >
        <div class="container">
            <h1 class="display-4">Fitness Studio</h1>
            <h3 class="text-center px-4">Find motivation and achieve your fitness goals</h3>
        </div>
    </div>
    <div class="container jumbotron">
        <div class="text-center">
            <h1 class="display-4">Time table </h1>
            <div class="row bg-white mt-4 pt-3">
                <div class="col-12 col-lg-2 pt-2">
                    <p><strong>Monday</strong></p>
                    18:00 <p>STRENGTH FULL BODY</p>
                    19:00 <p>CORE</p>
                    20:00 <p>YOGA</p>                
                </div>
                <div class="col-12 col-lg-2 pt-2">
                    <p><strong>Tuesday</strong></p>
                    18:00 <p>STRENGTH LOWER BODY</p>
                    19:00 <p>KICKBOXING</p>
                    20:00 <p>PILATES</p>    
                </div>
                <div class="col-12 col-lg-2 pt-2">
                    <p><strong>Wednesday</strong></p>
                    18:00 <p>BEATS AND BIKES</p>
                    19:00 <p>HIIT SPIN</p>
                    20:00 <p>YOGA</p>   
                </div>
                <div class="col-12 col-lg-2 pt-2">
                    <p><strong>Thursday</strong></p>
                    18:00 <p>SUSPENSION TRAINING</p>
                    19:00 <p>ROCKFIT</p>
                    20:00 <p>PILATES</p>   
                </div>
                <div class="col-12 col-lg-2 pt-2">
                    <p><strong>Friday</strong></p>
                    18:00 <p>HIIT FREESTYLE</p>
                    19:00 <p>BOXING</p>
                    20:00 <p>YOGA</p>
                </div>
                <div class="col-12 col-lg-2 pt-2">
                    <p><strong>Saturday</strong></p>
                    18:00 <p>BEATS AND BIKES</p>
                    19:00 <p>HIIT BOXING</p>
                    20:00 <p>PILATES</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mb-4">
        <div class="row card-group">
            <div class="col-md-6 col-lg-4">
                <div class="card border-dark mb-3">
                    <div class="card-header"><strong>Package</strong></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title"><a href="{% url 'packages' %}">Buy Package</a></h5>
                        <p class="card-text">Membership or single entry? Check our range of options available for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-dark mb-3 pb-lg-4 pb-xl-0">
                    <div class="card-header"><strong>Classes</strong></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title"><a href="{% url 'classes' %}">Class description</a></h5>
                        <p class="card-text px-4">Check what you can expect in our fitness studio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-dark mb-3 pb-lg-5 pb-xl-4">
                    <div class="card-header"><strong>Contact us</strong></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Contact us</h5>
                        <p class="card-text">Contact us to book a space</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}