{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="container">
        <div class="row">
            {% for class in classes %}
            <div class="col-12 col-lg-6 ">
                <div class="height123 jumbotron text-center mb-5">
                    <div class="mx-lg-1">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-12 px-1">
                                <h1 class="display-6">{{ class.name }}</h1>
                            </div>
                            <div class="col-12 col-md-4 col-lg-12">
                                {% if class.image_url %}
                                    <img src="{{ class.image_url }}" class="rounded mx-auto d-block" alt="{{ class.name }}">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}{{ class.image }}" class="rounded mx-auto d-block" alt="{{ class.name }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <p class="lead px-lg-4">{{ class.description }}</p>
                                <a href="{% url 'package_detail' 2 %}" class="btn btn-info mt-2 ">Buy single class</a>
                            </div>
                        </div>
                        
                        <div class="mt-3 text-center">
                            {% if request.user.is_superuser %}
                                <hr><p class="text-dark">Administrator options:</p>
                                <a class="btn btn-sm btn-primary" style="width: 75px;" href="{% url 'edit_class' class.id %}">Edit</a> 
                                <a class="btn btn-sm btn-danger" style="width: 75px;" href="{% url 'delete_class' class.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
